<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Jakub Kawecki"/>
        <meta name="description"
              content="An easy way to have an eye on your change."/>
        <meta name="csrf-token" content="{{ csrf_token() }}" />
        <!-- JS -->
        <script>
            let user = {
                transactions: [],
                deletedTransactions: [],
                categories: [],
                banks: [],
                currencies: []
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type="module" src="../static/js/index.js" defer></script>
        <!-- CSS -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
        <link rel="stylesheet" href="../static/css/css_reset.css"/>
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
              rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/grid-js.css"/>
        <link rel="stylesheet" href="../static/css/index-style.css"/>
        <title>WallIt</title>
    </head>
    <body>
        <div class="window">
            <div class="side-bar">
                <h1>WallIt</h1>
                <div class="menu">
                    <ol>
                        <li>
                            <button id="transactions">
                                <span class="material-symbols-rounded custom-medium-icon">view_list</span>
                                <h4>Transactions</h4>
                            </button>
                        </li>
                        <li>
                            <button id="monthly">
                                <span class="material-symbols-rounded custom-medium-icon">data_exploration</span>
                                <h4>Monthly</h4>
                            </button>
                        </li>
                        <li>
                            <button id="statistics">
                                <span class="material-symbols-rounded custom-medium-icon">analytics</span>
                                <h4>Statistics</h4>
                            </button>
                        </li>
                        <li>
                            <button id="filter">
                                <span class="material-symbols-rounded custom-medium-icon">filter_alt</span>
                                <h4>Filter</h4>
                            </button>
                        </li>
                        <li>
                            <button id="import">
                                <span class="material-symbols-rounded custom-medium-icon">upload_file</span>
                                <h4>Statements</h4>
                            </button>
                        </li>
                        <li>
                            <button id="settings">
                                <span class="material-symbols-rounded custom-medium-icon">settings</span>
                                <h4>Settings</h4>
                            </button>
                        </li>
                    </ol>
                </div>
                <a id="log-out">
                    <span class="material-symbols-rounded custom-medium-icon"
                          style="font-size: 48px;">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
            <div class="main-window">
                <div class="section">
                    <div class="subwindow-outline filter">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">filter_alt</span>
                            <h6>Filtering</h6>
                        </div>
                        <div class="button-list filter">
                            <button id="amount" class="button-no-outline filter">Amount</button>
                            <button id="date" class="button-no-outline filter">Date</button>
                            <button id="base_currency" class="button-no-outline filter">Currency</button>
                            <button id="category" class="button-no-outline filter">Category</button>
                            <button id="bank" class="button-no-outline filter">Banks</button>
                        </div>
                        <div>
                            <form name="amount" class="collapsible-form filter">
                                <div class="form-range">
                                    <input type="number" name="min" id="minAmount" placeholder="Minimum"/>
                                    <input type="number" name="max" id="maxAmount" placeholder="Maximum"/>
                                </div>
                            </form>
                            <form name="date" class="collapsible-form filter">
                                <div class="form-range">
                                    <input type="date" name="min" id="minDate"/>
                                    <input type="date" name="max" id="maxDate"/>
                                </div>
                            </form>
                            <form name="base_currency" class="collapsible-form filter">
                                <div class="form-set currency-dynamic-checkboxes">
                                </div>
                            </form>
                            <form name="category" class="collapsible-form filter">
                                <div class="form-set category-dynamic-checkboxes">
                                </div>
                            </form>
                            <form name="bank" class="collapsible-form filter">
                                <div class="form-set bank-dynamic-checkboxes">
                                </div>
                            </form>
                            <div id="filter_submit" class="collapsible-form filter">
                                <button id="filter_submit_button"
                                        class="button-no-outline with-margin"
                                        type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="subwindow-outline import">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">upload_file</span>
                            <h6>
                                Load statement
                            </h6>
                        </div>
                        <div class="button-list import">
                            <button id="revolut" class="button-no-outline import">
                                Revolut
                            </button>
                            <button id="equabank" class="button-no-outline import">
                                Equabank
                            </button>
                        </div>
                        <div>
                            <form name="revolut" class="collapsible-form import">
                                <div class="form-file">
                                    <input type="file" accept=".csv" name="revolut" multiple/>
                                </div>
                            </form>
                            <form name="equabank" class="collapsible-form import">
                                <div class="form-file">
                                    <input type="file" accept=".xml" name="equabank" multiple/>
                                </div>
                            </form>
                            <form name="mbank" class="collapsible-form import">
                                <div class="form-file">
                                    <input type="file" accept=".csv" name="mbank" multiple/>
                                </div>
                            </form>
                            <div id="import_submit" class="collapsible-form import">
                                <button id="import_submit_button"
                                        class="button-no-outline with-margin"
                                        type="submit"
                                        multiple>
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="subwindow-outline create">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">add_circle</span>
                            <h6>
                                Edit element
                            </h6>
                        </div>
                        <div class="selection-button-list create">
                            <button id="transaction_menu_button" class="button-no-outline create">
                                Transaction
                            </button>
                            <button id="category_menu_button" class="button-no-outline create">
                                Category
                            </button>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="subwindow-outline transactions">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">
                                view_list
                            </span>
                            <h6>
                                Transactions
                            </h6>
                            <button id="undo_deletion"
                                    class="button-no-outline hidden"
                                    title="Undo deletion">
                                <span class="material-symbols-rounded custom-small-icon">
                                    undo
                                </span>
                            </button>
                        </div>
                        <div id="transactionTable"></div>
                    </div>
                    <div id="transaction_menu"
                         class="subwindow-outline creation-window hidden">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">
                                add_circle
                            </span>
                            <h6>
                                Create transaction
                            </h6>
                        </div>
                        <form name="create_transaction" class="creation-form create-transaction">
                            <div class="submenu-body">
                                <input id="info" name="info" placeholder="Name" type="text" value=""/>
                                <input id="title" name="title" placeholder="Title" type="text" value=""/>
                                <input id="base_amount"
                                       name="base_amount"
                                       placeholder="Amount*"
                                       required=""
                                       type="number"
                                       value=""/>
                                <input id="base_currency"
                                       name="base_currency"
                                       placeholder="Currency*"
                                       required=""
                                       type="text"
                                       minlength="3"
                                       maxlength="3"
                                       value=""/>
                                <input id="date" name="date" type="date" value="" required/>
                                <input id="place" name="place" placeholder="Place" type="text" value=""/>
                                <div class="bank-dynamic-dropdown">
                                </div>
                                <div class="category-dynamic-dropdown">
                                </div>
                            </div>
                            <div class="creation-form-footer">
                                <button id="transaction_creation_submit_button"
                                        class="button-no-outline with-margin"
                                        type="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="category_menu" class="subwindow-outline creation-window hidden">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">
                                add_circle
                            </span>
                            <h6>
                                Edit category
                            </h6>
                        </div>
                        <div class="category-menu">
                            <div class="category-submenu">
                                <div class="submenu-header">
                                    Add category
                                </div>
                                <form name="add_category" class="submenu-body">
                                    <input id="category_name"
                                           name="category_name"
                                           placeholder="Name"
                                           type="text"
                                           value=""/>
                                </form>
                            </div>
                            <div class="category-submenu">
                                <div class="submenu-header">
                                    Rename category
                                </div>
                                <form name="rename_category" class="submenu-body">
                                    <div class="category-dynamic-dropdown">
                                    </div>
                                    <input id="category_name"
                                           name="category_name"
                                           placeholder="Name"
                                           type="text"
                                           value=""/>
                                </form>
                            </div>
                            <div class="category-submenu">
                                <div class="submenu-header">
                                    Delete category
                                </div>
                                <form name="delete_category" class="submenu-body">
                                    <div class="form-grid-2-rows category-dynamic-checkboxes">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="creation-form-footer">
                            <button id="category_creation_submit_button"
                                    class="button-no-outline with-margin"
                                    type="submit">
                                Submit
                            </button>
                        </div>
                        <!-- <form class="creation-form create-category">
                            <div class="creation-form-inputs">
                                <input id="category_name" name="category_name" placeholder="Name" type="text" value=""/>
                            </div>
                            <div class="creation-form-footer">
                                <button id="category_creation_submit_button" class="button-no-outline with-margin" type="submit">
                                    Submit
                                </button>
                            </div>
                        </form> -->
                    </div>
                </div>
                <div class="section">
                    <div class="subwindow-outline statistics">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">
                                analytics
                            </span>
                            <h6>
                                Spendings by category
                            </h6>
                        </div>
                        <canvas id="categoryChart" width="500px" height="400px"></canvas>
                    </div>
                    <div class="subwindow-outline monthly">
                        <div class="subwindow-header">
                            <span class="material-symbols-rounded custom-small-icon">
                                analytics
                            </span>
                            <h6>
                                Monthly summary
                            </h6>
                        </div>
                        <canvas id="monthlyChart" width="800px" height="400px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="dim-background inactive">
        </div>
        <div class="modal inactive">
            <h6 class="modal-header">
            </h6>
            <div class="modal-content">
            </div>
            <button id="modal-button" class="button-std">
                Close
            </button>
        </div>
    </body>
</html>
