{% extends "welcome.html" %} {% block reset_password %}
<div id="reset-password" class="sub-menu">
    <div class="feedback-field">
        <div class="feedback">
            {% with messages = get_flashed_messages(category_filter=['reset_password_message']) %}
                {% if messages %}
                    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <form class="form" name="resetPasswordForm" action="" method="post">
        {{ reset_password_form.hidden_tag() }}
        {{ reset_password_form.password(placeholder='Password') }}
        {{ reset_password_form.repeat_password(placeholder='Repeat password') }}
        <div class="button-list">
            <button type="submit" data-label="Reset password">Reset password</button>
            <button class="back-button" type="button" onclick="location.href='/welcome';">Back</button>
        </div>
    </form>
</div>
{% endblock reset_password %}
