<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Jakub Kawecki" />
    <meta name="description"
          content="An easy way to have an eye on your change."/>
    <script src="../static/js/login.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/css_reset.css" />
    <link rel="stylesheet" href="../static/css/login-style.css" />
    <title>WallIt</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="window">
      <div class="logo">WallIt</div>
      <div class="menu">
        {% block menus %}
        {% endblock menus %}
        {% block reset_password %}
        {% endblock reset_password %}
        <div class="author-references">
          <a href="https://github.com/ZaiZu2/FinanceApp">
            <img src="../static/img/icons8-github.svg"
                 height="auto"
                 width="auto"
                 alt="author-github"/>
          </a>
          <a href="https://www.linkedin.com/in/jakub-kawecki">
            <img src="../static/img/icons8-linkedin.svg"
                 height="auto"
                 width="auto"
                 alt="author-linkedIn"/>
          </a>
        </div>
      </div>
    </div>
    <footer>
      <p>
        Photo by
        <a href="https://unsplash.com/@fiveamstories">Alex Shutin</a> on
        <a href="https://unsplash.com/photos/kKvQJ6rK6S4">Unsplash</a>
      </p>
      <p>
        Icons by <a target="_blank" href="https://icons8.com">Icons8</a>
      </p>
    </footer>
  </body>
</html>
