#transactionTable .custom-container {
  padding: 0;
}

.custom-container .gridjs-wrapper {
  border-radius: 0;
}

.custom-table,
.custom-tbody,
.custom-thead {
  background: none;
  width: 1000px;
  border-collapse: separate;
}

/* HEADER */

.custom-header {
  padding: 8px 0;
  margin: 0px;
  border-bottom: var(--border-inactive);
}

.custom-header input {
  width: 100%;
  background: none;
  height: 2rem;
  padding-left: 8px;

  box-sizing: border-box;
  border: var(--border-inactive);
  border-radius: 0.5rem;

  color: var(--main-font-active-color);
  font-size: 1rem;
  font-family: var(--main-font);
}

.custom-header input:hover,
.custom-header input:focus,
.custom-header input:active {
  box-shadow: none;
  outline: none;
  border-color: var(--main-font-active-color);
}

/* TABLE-HEADER */

.custom-thead .custom-th:focus,
.custom-thead .custom-th:hover {
  background: none;
}

th.custom-th {
  width: fit-content !important;
  padding: 8px;
  background-color: var(--subwindow-bg-color);
  box-shadow: inset 0 0px 0 rgb(112, 112, 112),
    inset 0 -1px 0 rgb(112, 112, 112);
  border: none;

  color: white;
  white-space: nowrap;
  overflow: hidden;
}

td.custom-td {
  width: fit-content !important;
  padding: 8px;
  background: none;
  border-top: none;
  border-bottom: var(--border-inactive);
  border-left: none;
  border-right: none;

  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* SORTING ICON */

.custom-thead .gridjs-sort-neutral {
  opacity: 0.5;
  filter: invert(1);
}

.custom-thead .gridjs-sort-asc {
  opacity: 1;
  filter: invert(1);
}

.custom-thead .gridjs-sort-desc {
  opacity: 1;
  filter: invert(1);
}

.custom-container.custom-loading,
.custom-container .grid-js-loading-bar {
  background: none;
}

/* TABLE WIDTH SIZING */

th[data-column-id="info"].custom-th,
th[data-column-id="title"].custom-th {
  width: 250px !important;
}
td[data-column-id="info"].custom-td,
td[data-column-id="title"].custom-td {
  text-align: left;
}

th[data-column-id="amount"].custom-th {
  width: 120px !important;
}
td[data-column-id="amount"].custom-td {
  text-align: right;
}
