#transactionTable .custom-container {
  padding: 0;
}

.custom-container .gridjs-wrapper {
  border-radius: 0;
}

.custom-table,
.custom-tbody,
.custom-thead {
  background: none;
  min-width: 1000px;
  border-collapse: separate;
}

/* HEADER */

.custom-header {
  padding: 8px 0;
  margin: 0px;
  border-bottom: var(--border-inactive);
}

.custom-header input {
  width: 100%;
  background: none;
  height: 2rem;
  padding-left: 8px;

  box-sizing: border-box;
  border: var(--border-inactive);
  border-radius: 0.5rem;

  color: var(--main-font-active-color);
  font-size: 1rem;
  font-family: var(--main-font);
}

.custom-header input:hover,
.custom-header input:focus,
.custom-header input:active {
  box-shadow: none;
  outline: none;
  border-color: var(--main-font-active-color);
}

/* TABLE-HEADER */

.custom-thead .custom-th:focus {
  background: var(--subwindow-bg-color);
}

.custom-thead .custom-th:hover {
  background: rgb(112, 112, 112);
}

th.custom-th {
  width: fit-content !important;
  padding: 8px;
  background-color: var(--subwindow-bg-color);
  box-shadow: inset 0 0px 0 rgb(112, 112, 112),
    inset 0 -1px 0 rgb(112, 112, 112);
  border: none;

  line-height: 23px;

  color: white;
  white-space: nowrap;
  overflow: hidden;
}

td.custom-td {
  width: fit-content !important;
  padding: 8px;
  background: none;
  border-top: none;
  border-bottom: var(--border-inactive);
  border-left: none;
  border-right: none;

  color: white;
  vertical-align: middle;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  overflow: hidden;
}

td.custom-td:focus-visible {
  outline: none;
}

/* SORTING ICON */

.custom-thead .gridjs-sort-neutral {
  opacity: 0.5;
  filter: invert(1);
}

.custom-thead .gridjs-sort-asc {
  opacity: 1;
  filter: invert(1);
}

.custom-thead .gridjs-sort-desc {
  opacity: 1;
  filter: invert(1);
}

.custom-container.custom-loading,
.custom-container .grid-js-loading-bar {
  background: none;
}

/* TABLE WIDTH SIZING */
/* gridjs.io library does not provide sensible way how to dynamically size widths of ths/tds */

th[data-column-id="info"].custom-th,
th[data-column-id="title"].custom-th {
  min-width: 150px;
}
th[data-column-id="base_amount"].custom-th,
th[data-column-id="creation_date"].custom-th {
  min-width: 120px;
}
th[data-column-id="actions"].custom-th {
  min-width: 40px;
}
th[data-column-id="category"].custom-th {
  min-width: 95px;
}

td[data-column-id="info"].custom-td,
td[data-column-id="title"].custom-td {
  min-width: 150px;
  max-width: 250px;

  text-align: left;
}

td[data-column-id="amount"].custom-td,
td[data-column-id="base_amount"].custom-td {
  text-align: right;
}

td[data-column-id="place"].custom-td {
  min-width: 50px;
  max-width: 110px;

  text-align: left;
}

td[data-column-id="category"].custom-td {
  padding: 0px;
}
td[data-column-id="category"].custom-td > form {
  height: 100%;
  width: 100%;
}
td[data-column-id="category"].custom-td select {
  height: 100%;
  width: 100%;
  border: none;
  background: none;

  color: var(--main-font-active-color);
  font-size: 16px;
}

td[data-column-id="actions"].custom-td {
  padding: 0px;
}

.button-table {
  height: 24px;
  width: 24px;

  color: white;
}
.button-table:hover > span,
.button-table:focus > span {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 48;
}
