@import "./custom-variables.css";

/* ********************************* */
/* ********** MAIN-STYLES ********** */
/* ********************************* */

.window {
  height: 100%;
  background-color: var(--main-window-bg-color);

  display: flex;
  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--main-font-active-color);

  background-image: url(../img/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-color: var(--main-window-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Used as logo */
h1 {
  width: 100%;
  height: 200px;

  font-size: 4rem;
  text-align: center;
  vertical-align: center;
  line-height: 200px;
}

/* Used in welcome subwindow */
h2 {
  padding: 16px;
  font-size: 2rem;
}

/* Used as side-bar categories */
h4 {
  flex: 1;

  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 50px;
}

/* Used in sub-window headers */
h6 {
  flex: 1;

  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
}

button {
  all: unset;
  color: var(--main-font-inactive-color);
  font-size: 1.2rem;
}

button:active {
  border: none;
}

/*********** CUSTOM-INPUT-FIELD ***********/

input {
  width: 100%;
  background: none;
  height: 2rem;
  padding-left: 8px;

  box-sizing: border-box;
  border: var(--border-inactive);
  border-radius: 0.5rem;

  color: var(--main-font-active-color);
  font-size: 1rem;
  font-family: var(--main-font);
}

input:not(:placeholder-shown):invalid {
  border-color: red;
}

input::placeholder {
  color: var(--main-font-inactive-color);
}

input:hover,
input:focus,
input:active {
  outline: none;
  border-color: var(--main-font-active-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding-right: 5px;
  filter: invert(100%);
  opacity: 0.7;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input[type="date"]::-webkit-datetime-edit-text {
  padding: 0 0.2rem;
}

select {
  width: 100%;
  background: none;
  height: 2rem;
  padding-left: 5px;
  box-sizing: border-box;
  border: var(--border-inactive);
  border-radius: 0.5rem;
  color: var(--main-font-active-color);
  font-size: 1rem;
  font-family: var(--main-font);
}
select:hover,
select:focus,
select:active {
  outline: none;
  border-color: var(--main-font-active-color);
}
/*********** CUSTOM-BUTTONS ***********/

.button-std {
  width: fit-content;
  height: 2rem;
  padding: 0 8px;
  margin: 8px;
  box-sizing: border-box;

  background: none;
  border-radius: 0.8rem;

  text-align: center;
  color: var(--main-font-inactive-color);
  outline: var(--border-inactive);
  /* outline: 1px solid var(--main-font-active-color); */
}
.button-std:hover {
  color: var(--main-font-active-color);
  border: var(--border-active);
}

.button-no-outline {
  width: fit-content;
  height: 2rem;
  padding: 0 8px;
  box-sizing: border-box;

  background: none;
  border-radius: 0.8rem;

  text-align: center;
}
.button-no-outline:hover,
.button-no-outline:focus {
  color: var(--main-font-active-color);
}

.button-no-outline:active,
.button-std:active {
  background-color: var(--main-font-active-color);
  outline: none;
  color: black;

  position: relative;
  transform: scale(0.95);
}

button.with-margin {
  margin: 8px;
}

button.active {
  color: var(--main-font-active-color);
  outline: var(--border-active);
}

/* ****************************** */
/* ********** SIDE-BAR ********** */
/* ****************************** */

.side-bar {
  background-color: var(--main-window-bg-color);
  min-width: 220px;
  overflow: visible;

  display: flex;
  flex-direction: column;
}

.menu {
  flex: 1;
  flex-direction: column;
}

.menu button {
  width: 100%;
  height: 50px;
  background: none;

  display: flex;
}

.menu button:hover:not(.active),
.menu button:focus:not(.active) {
  color: var(--main-font-active-color);
}

.menu .active {
  outline: none;
  color: var(--main-font-active-color);
  font-variation-settings: "FILL" 1 !important;
}

.menu button span {
  width: 50px;
  padding: 0 10px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#log-out,
#log-out:visited {
  height: 100px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--main-font-inactive-color);
  text-decoration: none;
}

#log-out:hover,
#log-out:focus {
  color: var(--main-font-active-color);
}

#log-out h3 {
  font-size: 1.7rem;
  flex: none;
  width: fit-content;
}

/* ********************************* */
/* ********** MAIN-WINDOW ********** */
/* ********************************* */

.main-window {
  min-height: auto;
  min-width: auto;
  overflow: auto;

  flex: 1;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
}

.subwindow-outline {
  width: min-content;
  height: fit-content;
  padding: 8px 16px;
  margin: 10px;

  background-color: var(--main-window-bg-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

.subwindow-outline.filter,
.subwindow-outline.import,
.subwindow-outline.create,
.subwindow-outline.creation-window {
  padding-bottom: 0;
}

.subwindow-outline.creation-window {
  height: auto;
  width: 200px;
}

.subwindow-header {
  min-width: max-content;
  height: 2rem;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(110, 110, 110, 1);

  display: flex;
  align-items: center;
  gap: 14px;
}

.button-list {
  height: fit-content;
  padding: 8px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.selection-button-list {
  height: fit-content;
  padding: 8px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#filter_submit,
#import_submit {
  text-align: center;
}

.collapsible-form {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  border-top: none;
}

.collapsible-form.active {
  border-top: 1px solid rgb(110, 110, 110);
}

.form-range {
  padding: 8px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-file {
  padding: 8px 0;

  display: grid;
  grid-template-columns: 1fr;
}

.form-set {
  padding: 8px 0;

  display: grid;
  grid-template-rows: 1.5em;
  grid-template-columns: repeat(3, auto);

  column-gap: 8px;
  justify-items: left;
  align-items: center;
}

.form-grid-2-rows {
  display: grid;
  grid-template-rows: 1.5em;
  grid-template-columns: repeat(2, auto);

  column-gap: 8px;
  justify-items: left;
  align-items: center;
}

.form-set label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.creation-form {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.creation-form-footer {
  text-align: center;
}

.creation-form-inputs {
  flex: 1;
  padding: 8px 0px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category-menu {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-submenu {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.submenu-header {
  width: auto;
  padding: 8px;

  border-bottom: var(--border-inactive);
  text-align: center;
}

.submenu-body {
  flex: 1;
  padding: 8px 0px;
  border-bottom: var(--border-inactive);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  padding: 8px 16px;
  background-color: var(--main-window-bg-color);
  border: 1px solid rgb(110, 110, 110);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.3s ease-in-out;
}

.inactive {
  opacity: 0;
  pointer-events: none;
}

.modal-header {
  flex: none;
  width: 100%;
  height: 30px;
  padding-bottom: 8px;

  border-bottom: var(--border-inactive);

  display: flex;
  justify-content: center;
  text-align: center;
}

.modal-content {
  flex: 1;
  padding: 8px;

  text-align: center;
}

.modal-content > * {
  padding: 4px;
  padding-bottom: 0px;
  list-style: circle;
  list-style-position: inside;
}

.dim-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.3s ease-in-out;
}

/* ********************************** */
/* ********** GOOGLE-ICONS ********** */
/* ********************************** */

.custom-medium-icon {
  font-size: 36px !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-display: block;
}

.custom-small-icon {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
  font-display: block;
}
