@import "./custom-variables.css";

/* ********************************* */
/* ********** MAIN-STYLES ********** */
/* ********************************* */

body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--main-font-active-color);

  background-image: url(../img/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-color: var(--main-window-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

/* Used as logo */
h1 {
  width: 100%;
  height: 200px;

  font-size: 4rem;
  text-align: center;
  vertical-align: center;
  line-height: 200px;
}

/* Used in welcome subwindow */
h2 {
  padding: 16px;
  font-size: 2rem;
}

/* Used as side-bar categories */
h4 {
  flex: 1;

  font-size: 1.6rem;
  vertical-align: middle;
  line-height: 50px;
}

/* Used in sub-window headers */
h6 {
  flex: 1;

  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
}

button {
  all: unset;
  color: var(--main-font-inactive-color);
  font-size: 1.2rem;
}

/*********** CUSTOM-INPUT-FIELD ***********/

input {
  width: 100%;
  background: none;
  height: 2rem;
  padding-left: 8px;

  box-sizing: border-box;
  border: var(--border-inactive);
  border-radius: 0.5rem;

  color: var(--main-font-active-color);
  font-size: 1rem;
  font-family: var(--main-font);
}

input:not(:placeholder-shown):invalid {
  border-color: red;
}

input::placeholder {
  color: var(--main-font-inactive-color);
}

input:hover,
input:focus,
input:active {
  /*border-width: var(--border-width-active);*/

  outline: none;
  border-color: var(--main-font-active-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding-right: 5px;
  filter: invert(100%);
  opacity: 0.7;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

input[type="date"]::-webkit-datetime-edit-text {
  padding: 0 0.2rem;
}

/* ****************************** */
/* ********** SIDE-BAR ********** */
/* ****************************** */

.side-bar {
  background-color: var(--main-window-bg-color);
  width: 220px;
  overflow: visible;

  display: flex;
  flex-direction: column;
}

.menu {
  flex: 1;
  flex-direction: column;
}

.menu button {
  width: 100%;
  height: 50px;
  background: none;

  display: flex;
}

.menu button:hover:not(.active) {
  color: var(--main-font-active-color);
}

.menu .active {
  color: var(--main-font-active-color);
  font-variation-settings: "FILL" 1 !important;
}

.menu button span {
  width: 50px;
  padding: 0 10px;

  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#log-out,
#log-out:visited {
  height: 100px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: var(--main-font-inactive-color);
  text-decoration: none;
}

#log-out:hover,
#log-out:hover span {
  color: var(--main-font-active-color);
  font-variation-settings: "wght" 600;
}

#log-out h3 {
  font-size: 1.7rem;
  flex: none;
  width: fit-content;
}

/* ********************************* */
/* ********** MAIN-WINDOW ********** */
/* ********************************* */

.window {
  flex: 1;
  background-color: var(--main-window-bg-color);
  overflow: hidden;
  margin: 30px;

  border-radius: 3rem;
  -webkit-box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);

  display: flex;
}

.main-window {
  flex: 1;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subwindow-outline {
  width: fit-content;
  max-width: 100%;
  height: fit-content;

  padding: 8px 16px;

  background-color: var(--main-window-bg-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
}

.subwindow-header {
  height: 2rem;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(110, 110, 110, 1);

  display: flex;
  align-items: center;
  gap: 14px;
}

.filter {
  width: 450px;
  max-width: 600px;
}

.filter-button-list {
  height: fit-content;
  padding: 8px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.filter button {
  flex: 1;
  width: fit-content;
  height: 2rem;
  padding: 0 8px;
  box-sizing: border-box;

  background: none;
  border-radius: 0.8rem;

  text-align: center;
}

.filter button.active {
  color: var(--main-font-active-color);
  outline: 1px solid var(--main-font-active-color);
}

#submitContent {
  text-align: center;
}

#filterSubmit {
  margin: 8px;
}

.filter-input {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  border-top: none;
}

.filter-input.active {
  border-top: 1px solid rgb(110, 110, 110);
}

.filter-range {
  padding: 8px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.filter-set {
  padding: 8px 0;

  display: grid;
  grid-template-rows: 1.5em;
  grid-template-columns: repeat(3, auto);

  column-gap: 8px;
  justify-items: left;
  align-items: center;
}

.filter-set label {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.main-window button:hover {
  color: var(--main-font-active-color);
}

.main-window button:active {
  background-color: var(--main-font-active-color);
  border-width: var(--border-width-active);
  outline: none;
  color: black;

  position: relative;
  transform: scale(0.95);
}

.transactions {
  width: fit-content;
  max-width: 100%;
}

.hidden {
  display: none;
}

#transactionTable {
  width: 1000px;
}

/* ********************************** */
/* ********** GOOGLE-ICONS ********** */
/* ********************************** */

.custom-medium-icon {
  font-size: 36px !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.custom-small-icon {
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
