<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Jakub Kawecki">
    <meta name="description" content="An easy way to have an eye on your change.">

    <script src="../static/js/index.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/css_reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>FinanceApp</title>
</head>
<body>

</body>
</html>
