<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="Jakub Kawecki"/>
        <meta name="description"
              content="An easy way to have an eye on your change."/>
        <!-- JS -->
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" defer></script>
        <script src="../static/js/index.js" defer></script>
        <!-- CSS -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
        <link rel="stylesheet" href="../static/css/css_reset.css"/>
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../static/css/index-style.css"/>
        <title>WallIt</title>
    </head>
    <body>
        <div class="window">
            <div class="side-bar">
                <h1>WallIt</h1>
                <div class="menu">
                    <ol>
                        <li>
                            <button id="transactions">
                                <span class="material-symbols-rounded custom-medium-icon">view_list</span>
                                <h4>Transactions</h4>
                            </button>
                        </li>
                        <li>
                            <button id="monthly">
                                <span class="material-symbols-rounded custom-medium-icon">data_exploration</span>
                                <h4>Monthly</h4>
                            </button>
                        </li>
                        <li>
                            <button id="statistics">
                                <span class="material-symbols-rounded custom-medium-icon">analytics</span>
                                <h4>Statistics</h4>
                            </button>
                        </li>
                        <li>
                            <button id="filter">
                                <span class="material-symbols-rounded custom-medium-icon">filter_alt</span>
                                <h4>Filter</h4>
                            </button>
                        </li>
                        <li>
                            <button id="statements">
                                <span class="material-symbols-rounded custom-medium-icon">upload_file</span>
                                <h4>Statements</h4>
                            </button>
                        </li>
                        <li>
                            <button id="settings">
                                <span class="material-symbols-rounded custom-medium-icon">settings</span>
                                <h4>Settings</h4>
                            </button>
                        </li>
                    </ol>
                </div>
                <a id="log-out" href="{{ url_for('logout') }}">
                    <span class="material-symbols-rounded custom-medium-icon"
                          style="font-size: 48px !important;">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
            <div class="main-window">
                <h2 class="subwindow-outline">Welcome back, {{ current_user.firstName }}</h2>
                <div class="subwindow-outline filter" style="padding-bottom: 0px;">
                    <div class="subwindow-header">
                        <span class="material-symbols-rounded custom-small-icon">filter_alt</span>
                        <h6>Filtering</h6>
                    </div>
                    <div class="filter-button-list">
                        <button id="filterAmount">Amount</button>
                        <button id="filterDate">Date</button>
                        <button id="filterCurrency">Currency</button>
                        <button id="filterCategory">Category</button>
                        <button id="filterBank">Banks</button>
                    </div>
                    <div name="filterForm">
                        <form name="Amount" class="filter-input">
                            <div class="filter-range">
                                <input type="number" name="minAmount" id="minAmount" placeholder="Minimum"/>
                                <input type="number" name="maxAmount" id="maxAmount" placeholder="Maximum"/>
                            </div>
                        </form>
                        <form name="Date" class="filter-input">
                            <div class="filter-range">
                                <input type="date" name="minDate" id="minDate"/>
                                <input type="date" name="maxDate" id="maxDate"/>
                            </div>
                        </form>

                        <form name="Currency" class="filter-input">
                            <div class="filter-set">
                                {% for currency in currencies %}
                                    <input type="checkbox" name="{{ currency }}" id="{{ currency }}"/>
                                    <label for="{{ currency }}">{{ currency }}</label>
                                {% endfor %}
                            </div>
                        </form>
                        <form name="Category" class="filter-input">
                            <div class="filter-set">
                                {% for category in categories %}
                                    <input type="checkbox" name="{{ category }}" id="{{ category }}"/>
                                    <label for="{{ category }}">{{ category }}</label>
                                {% endfor %}
                            </div>
                        </form>
                        <form name="Bank" class="filter-input">
                            <div class="filter-set">
                                {% for bank in banks %}
                                    <input type="checkbox" name="{{ bank }}" id="{{ bank }}"/>
                                    <label for="{{ bank }}">{{ bank }}</label>
                                {% endfor %}
                            </div>
                        </form>

                        <div id="submitContent" class="filter-input">
                            <button id="filterSubmit" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="subwindow-outline transactions">
                    <div class="subwindow-header">
                        <span class="material-symbols-rounded custom-small-icon">
                            view_list
                        </span>
                        <h6>
                            Transactions
                        </h6>
                    </div>
                    <div id="poop"></div>
                </div>
            </div>
        </div>
    </body>
</html>
