<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Jakub Kawecki">
    <meta name="description" content="An easy way to have an eye on your change.">

    <script src="../static/js/login.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/css_reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>FinanceApp</title>
</head>

<body>
    <div class="header"></div>

    <div class="window">
        <div class="logo">FinanceApp</div>
        <div class="menu">
            <div id="login" class="sub-menu">
                <form class="form" name="loginForm" action="./login" method="post">
                    <input type="text" name="username" id="username" placeholder="Username" autofocus required>
                    <input type="password" name="password" id="password" placeholder="Password" required>

                    <div class="button-list">
                        <button type="submit" data-label="Sign in">
                            <span class="button-label">Sign in</span>
                        </button>
                    </div>
                </form>
                <a id="reset-password-menu" role="button"> Forgot password?</a>
                <a id="sign-up-menu" role="button">New here? Sign up.</a>
            </div>

            <div id="reset-password" class="sub-menu hide">
                <form class="form" name="passResetForm" action="./login" method="get">
                    <input type="email" name="email" id="email" placeholder="E-mail" autofocus required>

                    <div class="button-list">
                        <button type="submit" data-label="Reset password">
                            <span class="button-label">Reset password</span>
                        </button>
                        <button type="button" data-label="Back">
                            <span class="button-label">Back</span>
                        </button>
                    </div>
                </form>
            </div>

            <div id="sign-up" class="sub-menu hide">
                <form class="form" name="signUpForm" action="./login" method="get">
                    <input type="email" name="email" id="email" placeholder="E-mail" autofocus required>
                    <input type="username" name="username" id="username" placeholder="Username" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="repeatPassword" name="repeatPassword" id="repeatPassword" placeholder="Repeat password"
                        required>

                    <div class="button-list">
                        <button type="submit" data-label="Sign up">
                            <span class="button-label">Sign up</span>
                        </button>
                        <button type="button" data-label="Back">
                            <span class="button-label">Back</span>
                        </button>
                    </div>
                </form>
            </div>


            <div class="author-references">
                <a href="https://github.com/ZaiZu2/FinanceApp"><img src="../static/img/icons8-github.svg"
                        alt="github"></a>
                <a href="https://www.linkedin.com/in/jakub-kawecki"><img src="../static/img/icons8-linkedin.svg"
                        alt="linkedIn"></a>
            </div>
        </div>
    </div>

    <footer>
        <p>Photo by <a href="">Alex Shutin</a> on <a href="">Unsplash</a></p>
        <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </footer>
</body>

</html>


<div>

    </form>
</div>
