<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/css_reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>FinanceApp</title>
</head>

<body>
    <div class="header">

    </div>

    <div class="main-window">
        <div class="logo">FinanceApp</div>
        <div class="menu">
            <form class="login-form" action="./login.html" method="post">
                <input type="email" name="email" placeholder="E-mail" id="email" autofocus>
                <input type="password" name="password" placeholder="Password" id="password">
                <button type="submit">Sign in</button>
                <a href="login.html"> Forgot password?</a>
                <a href="login.html">New here? Sign up.</a>
            </form>

            <div class="author-references">
                <a href="https://github.com/ZaiZu2/FinanceApp"><img src="../static/img/icons8-github.svg" alt="github"></a>
                <a href="https://www.linkedin.com/in/jakub-kawecki"><img src="../static/img/icons8-linkedin.svg" alt="github"></a>
            </div>
        </div>
    </div>

    <footer>
        <p>Photo by <a href="">Alex Shutin</a> on <a href="">Unsplash</a></p>
        <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </footer>
</body>

</html>


<div>

    </form>
</div>
