<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Jakub Kawecki">
    <meta name="description" content="An easy way to have an eye on your change.">

    <script src="../static/login.js" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/css_reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>FinanceApp</title>
</head>

<body>
    <div class="header"></div>

    <div class="window">
        <div class="logo">FinanceApp</div>
        <div class="menu">
            <div class="author-references">
                <a href="https://github.com/ZaiZu2/FinanceApp"><img src="../static/img/icons8-github.svg"
                        alt="github"></a>
                <a href="https://www.linkedin.com/in/jakub-kawecki"><img src="../static/img/icons8-linkedin.svg"
                        alt="github"></a>
            </div>

            <form class="login-form" name="loginData" action="./login" method="post">
                <input type="text" name="username" id="username" placeholder="Username" autofocus>
                <input type="password" name="password" id="password" placeholder="Password">
                <button type="submit">Sign in</button>
                <a href="login.html"> Forgot password?</a>
                <a href="login.html">New here? Sign up.</a>
            </form>
        </div>
    </div>

    <footer>
        <p>Photo by <a href="">Alex Shutin</a> on <a href="">Unsplash</a></p>
        <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </footer>
</body>

</html>


<div>

    </form>
</div>
