@import "./custom-variables.css";

body {
  min-height: 100vh;
  color: var(--main-font-active-color);

  background-image: url(../img/alex-shutin-kKvQJ6rK6S4-unsplash.jpg);
  background-color: var(--main-window-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.window {
  width: 80vw;
  max-width: 1024px;
  height: 80vh;
  max-height: 1024px;
  min-height: 600px;
  background-color: var(--main-window-bg-color);
  overflow: hidden;
  margin: 50px 0px;

  border-radius: 3rem;
  -webkit-box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);
  box-shadow: 20px 20px 25px -15px rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1;
  overflow: hidden;

  font-size: 96px;
  text-align: center;
}

.menu {
  min-width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
}

.sub-menu {
  flex: 1;
  justify-self: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.hidden {
  display: none;
}

div.feedback-field {
  position: relative;
}

div.feedback {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form {
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

label {
  padding-left: 6px;
  text-align: left;

  font-family: var(--main-font);
  font-size: 1rem;
}

input {
  background: none;
  width: auto;
  height: 2.5rem;
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid var(--main-font-inactive-color);
  border-radius: 1rem;

  color: var(--main-font-inactive-color);
  font-size: var(--main-font-size);
  font-family: var(--main-font);
}

/* input::placeholder {
  color: var(--main-font-active-color);
} */

input:hover,
input:focus,
input:active {
  box-shadow: 1px;
  outline: none;
}

input[type="checkbox"] + label {
  margin: 2px;

  align-self: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.button-list {
  padding: 8px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  height: 2.5rem;
  width: fit-content;
  padding: 0px 10px;

  background: none;
  border: var(--border-inactive);
  border-radius: 1rem;

  color: var(--main-font-inactive-color);
  font-family: var(--main-font);
}

button:hover,
button:focus {
  border: var(--border-active);
  color: var(--main-font-active-color);
}

button:active {
  background-color: var(--main-font-active-color);
  outline: none;
  color: black;

  position: relative;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu a,
.menu a:visited {
  display: block;

  font-size: 0.9rem;
  color: var(--main-font-inactive-color);
  text-align: center;
  text-decoration: none;
}

a,
a:visited {
  color: var(--main-font-active-color);
  text-decoration: underline;
}

a:hover,
a:active {
  cursor: pointer;
  color: var(--main-font-active-color);
}

.author-references {
  padding: 24px;

  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  justify-content: flex-start;
  align-items: flex-end;
}

footer p {
  text-align: center;
  padding: 0.2rem;
}

img {
  width: 40px;
  -webkit-filter: invert(100%);
  filter: invert(100%);

  transition: 0.1s ease-in-out;
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

img:hover {
  transition: 0.1s ease-in-out;
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

img:active {
  position: relative;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
