:root {
    --main-window-bg-color: rgba(0, 0, 0, 0.7);
    --bubble-bg-color: rgb(40, 40, 40);

    --main-font: "Times New Roman', Times, serif";
    --main-font-size: 1.2rem;
    --main-font-active-color: rgb(255, 255, 255);
    --main-font-inactive-color: rgb(185, 185, 185);

    --border-inactive: 1px solid white;
    --border-width-active: 2px;

    --btn-border: 1px solid white;
    --btn-padding: 14px;
}
