{% extends "welcome.html" %}
{% block menus %}
<div id="login" class="sub-menu">
    <form class="form" name="loginForm" action="{{ url_for('main.login') }}" method="post">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['login_message']) %}
                {% if messages %}
                {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {{ login_form.hidden_tag() }}
        <div class="input-group">
            {{ login_form.username.label }}
            {{ login_form.username(placeholder="guest") }}
        </div>
        <div class="input-group">
            {{ login_form.password.label }}
            {{ login_form.password(placeholder="guest") }}
        </div>
        {{ login_form.remember_me() }}
        {{ login_form.remember_me.label }}
        <div class="button-list" style="margin: -8px;">
            <button type="submit">Sign in</button>
        </div>
    </form>
    <div class="links">
        <a id="reset-password-button" role="button">Forgot password?</a>
        <a id="sign-up-button" role="button">New here? Sign up.</a>
    </div>
</div>
<div id="reset-password" class="sub-menu hidden">
    <form class="form" name="resetPasswordForm" action="{{ url_for('main.request_reset_password') }}" method="post">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['reset_password_message']) %}
                {% if messages %}
                {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {{ request_password_form.hidden_tag() }}
        <div class="input-group">
            {{ request_password_form.email.label }}
            {{ request_password_form.email() }}
        </div>
        <div class="button-list">
            <button type="submit" data-label="Reset password">Reset password</button>
            <button class="back-button" type="button">Back</button>
        </div>
    </form>
</div>
<div id="sign-up" class="sub-menu hidden">
    <form class="form" name="signUpForm" action="{{ url_for('main.sign_up') }}" method="post">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['sign_up_message']) %}
                {% if messages %}
                {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {{ sign_up_form.hidden_tag() }}
        <div class="input-group">
            {{ sign_up_form.email.label }}
            {{ sign_up_form.email() }}
        </div>
        <div class="input-group">
            {{ sign_up_form.username.label }}
            {{ sign_up_form.username() }}
        </div>
        <div class="input-group">
            {{ sign_up_form.first_name.label }}
            {{ sign_up_form.first_name() }}
        </div>
        <div class="input-group">
            {{ sign_up_form.last_name.label }}
            {{ sign_up_form.last_name() }}
        </div>
        <div class="input-group">
            {{ sign_up_form.password.label }}
            {{ sign_up_form.password() }}
        </div>
        <div class="input-group">
            {{ sign_up_form.repeat_password.label }}
            {{ sign_up_form.repeat_password() }}
        </div>
        <div class="button-list">
            <button type="submit" data-label="Sign up">Sign up</button>
            <button class="back-button" type="button">Back</button>
        </div>
    </form>
</div>
{% endblock menus %}
