{% extends "welcome.html" %}
{% block menus %}
    <div id="login" class="sub-menu">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['login_message']) %}
                    {% if messages %}
                        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <form class="form"
              name="loginForm"
              action="{{ url_for('main.login') }}"
              method="post">
            {{ login_form.hidden_tag() }}
            {{ login_form.username(placeholder='Username') }}
            {{ login_form.password(placeholder='Password') }}
            {{ login_form.remember_me() }}
            {{ login_form.remember_me.label }}
            <div class="button-list">
                <button type="submit">Sign in</button>
            </div>
        </form>
        <a id="reset-password-button" role="button">Forgot password?</a>
        <a id="sign-up-button" role="button">New here? Sign up.</a>
    </div>
    <div id="reset-password" class="sub-menu hidden">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['reset_password_message']) %}
                    {% if messages %}
                        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <form class="form"
              name="resetPasswordForm"
              action="{{ url_for('main.request_reset_password') }}"
              method="post">
            {{ request_password_form.hidden_tag() }}
            {{ request_password_form.email(placeholder='E-mail') }}
            <div class="button-list">
                <button type="submit" data-label="Reset password">Reset password</button>
                <button class="back-button" type="button">Back</button>
            </div>
        </form>
    </div>
    <div id="sign-up" class="sub-menu hidden">
        <div class="feedback-field">
            <div class="feedback">
                {% with messages = get_flashed_messages(category_filter=['sign_up_message']) %}
                    {% if messages %}
                        {% for message in messages %}<p>{{ message }}</p>{% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <form class="form"
              name="signUpForm"
              action="{{ url_for('main.sign_up') }}"
              method="post">
            {{ sign_up_form.hidden_tag() }}
            {{ sign_up_form.email(placeholder='E-mail') }}
            {{ sign_up_form.username(placeholder='Username') }}
            {{ sign_up_form.first_name(placeholder='First name') }}
            {{ sign_up_form.last_name(placeholder='Last name') }}
            {{ sign_up_form.password(placeholder='Password') }}
            {{ sign_up_form.repeat_password(placeholder='Repeat password') }}
            <div class="button-list">
                <button type="submit" data-label="Sign up">Sign up</button>
                <button class="back-button" type="button">Back</button>
            </div>
        </form>
    </div>
{% endblock menus %}
